i {
  font-size: 24px !important;
}

.home-icon {
  font-size: 30px !important;
}

body {
  padding: 0;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: url("https://i.imgur.com/raiPPvS.jpeg"); */
  background: linear-gradient(0deg, rgba(255,236,164,1) 0%, rgba(186,254,252,1) 100%);
}

.nav-bar {
  display: flex;
  padding: 1rem;
  column-gap: 1rem;
  height: 1.5rem;
  align-items: center;
  margin-top: 0.5rem;
}

#title {
  font-size: 14px;
  font-weight: bold;
  max-width: 200px;
}

.icon-button {
  background: none;
  cursor: pointer;
  border: none;
}

.arrow-btn {
  width: 67px;
}

.icon-button:hover {
  transform: scale(1.2);
}
.story-container {
  width: 1000px;
  height: 650px;
  display: flex;
  border-left: 10px solid #8b4513; /* SaddleBrown color for book cover */
  border-radius: 10px;
  -webkit-box-shadow: 10px 6px 22px -1px rgba(0, 0, 0, 0.62);
  -moz-box-shadow: 10px 6px 22px -1px rgba(0, 0, 0, 0.62);
  box-shadow: 10px 6px 22px -1px rgba(0, 0, 0, 0.62);
 
  /* Background idea from https://codepen.io/TheMOZZARELLA/pen/pormjbw */
  background: url("https://i.imgur.com/0kjMcUe.png");
  background-size: 1000px;
  filter: brightness(0.97) sepia(50%) saturate(95%);
  background-position: center right;
}

.story-text-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.flex-space {
  height: 100%;
  width: 100%;
}

.story-drawing-container {
  flex: 2;
}

#page-text {
  margin: 0.5rem 1.5rem 1rem 1.5rem;
  font-size: 22px;
  font-family: cursive;
  line-height: 36px;
}

.actions-bar {
  display: flex;
  padding: 1rem;
}

#page-number {
  width: 100%;
  font-family: cursive;
  align-self: center;
  text-align: center;
}

#finish-story {
  font-size: 14px;
  font-weight: bold;
  display: none;
}

/* Tooltip from https://www.w3schools.com/css/tryit.asp?filename=trycss_tooltip */
.tooltip {
  /* position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; */
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  transform: rotateZ(90deg);
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
